<div class="row mt-4">
  <%= render partial: "chatrooms/sidebar" %>
  <div class="col-md-6 messages-outer">
    <h5 class="dm-username">
      <%= User.find_by(username: params[:id]).name %>
    </h5>
    <hr>
    <div class="messages-section" id="messages-section" data-behavior='messages' data-chatroom-id='<%= @chatroom.id %>'>
      <% @messages.each do |message| %>
        <% if message.user != current_user %>
          <%= render message, { incoming_message: true } %>
        <% else %>
          <%= render message, { incoming_message: false } %>
        <% end %>
      <% end %>
    </div>
    <%= render partial: 'chatrooms/form', locals: {chatroom: @chatroom } %>
  </div>
  <div class="col-md-3"></div>
</div>
