<div class="row mt-5">
  <div class="col-md-6 offset-md-3">
    <h3>Edit <%= resource_name.to_s.humanize %></h3>
    <hr>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :name,
                required: true,
                autofocus: true%>
        <%= f.input :username,
                required: true,
                autofocus: true%>
        <%= f.input :email, required: true, autofocus: true %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Update", class: 'btn btn-outline-warning' %>
      </div>
    <% end %>
    <hr>
    <p>Github: 
      <% if current_user.services.where(provider: 'github').any? %>
        Connected
      <% else %>
        <%= link_to 'Connect', user_github_omniauth_authorize_path %>
      <% end %>
    </p>
    <p>Twitter: 
      <% if current_user.services.where(provider: 'twitter').any? %>
        Connected
      <% else %>
        <%= link_to 'Connect', user_twitter_omniauth_authorize_path %>
      <% end %>
    </p>
    <hr>
    <h4 class="mt-3">Cancel my account</h4>
    <hr>
    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    <%= link_to "Back", :back, class: 'btn btn-outline-warning' %>
  </div>
</div>
