<div class="row settings-page mt-4 mb-4 align-items-center justify-content-center" style="height:100vh;">
  <div class="col-sm-6 col-md-5 devise-form text-center">
    <div class="sign-in-content">
      <p class="main-content">Welcome Back, <%= current_user.name %></p>
      <p class="helper-content mt-4">Make changes to your account</p>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs text-left">
        <div class="row mb-3">
          <div class="col-md-2">
            <%= user_avatar(resource, 100)%>
          </div>
          <div class="col-md-10 mt-3">
            <%= f.input :avatar, as: :file, label:false%>
          </div>
        </div>
        <%= f.input :name,
                required: true,
                autofocus: true,
                label:false,
                placeholder: 'Your Name' %>
        <%= f.input :username,
                required: true,
                autofocus: true,
                label:false,
                placeholder: 'Username' %>
        <%= f.input :current_position,
                required: true,
                autofocus: true,
                placeholder: 'Current Position',
                input_html: { autocomplete: "Current Position" },
                label: false %>
        <%= f.input :email, required: true, autofocus: true,label:false %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" },
                label:false,
                placeholder: 'New Password' %>
        <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" },
                label:false,
                placeholder: 'New Password Confirmation' %>
        <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" },
                label:false,
                placeholder: 'Current Password' %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Save Changes", class: 'btn btn-block btn-primary signin-button' %>
      </div>
    <% end %>
    <div class="settings-footer text-left mt-3">
      <p>
        <% if current_user.services.where(provider: 'github').any? %>
          <%= link_to "#", class: 'btn btn-block btn-outline-default github-button mt-4' do %>
            <svg viewBox="0 0 16 16" fill="currentColor" class="mr-3 -mt-1 github-icon text-black dark:text-white transition duration-150"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path></svg>GitHub: Connected
          <% end %>
        <% else %>
          <%# link_to 'Connect', user_github_omniauth_authorize_path %>
          <%= link_to user_github_omniauth_authorize_path, class: 'btn btn-block btn-outline-default github-button mt-4' do %>
            <svg viewBox="0 0 16 16" fill="currentColor" class="mr-3 -mt-1 github-icon text-black dark:text-white transition duration-150"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path></svg>Connect your GitHub
          <% end %>
        <% end %>
      </p>
      <p class="text-center">Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "ml-1 cancel-account-link" %></p>
      <%= link_to "Back", :back, class: 'btn btn-outline-default github-button mt-2' %>
    </div>
  </div>
</div>
