<nav class="navbar navbar-expand-lg navbar-light bg-light custom-background">
  <%= link_to  "Hourly", posts_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Activity Feed', '/activity_feed', class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Explore', posts_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
    <% if user_signed_in? %>
      <%= simple_form_for users_path, html: { class: "form-inline"}, method: :get do |f| %>
        <%= f.input :q, as: :search,  placeholder: "Search Users", label: false %>
      <% end %>
      <ul class="navbar-nav ml-auto right-nav">
        <li class="nav-item dropdown notifications" data-behavior = "notifications">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-behavior="notifications-link">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="bell-icon"><path d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"></path></svg> <span data-behavior="unread-count"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" data-behavior="notification-items">
          </div>
        </li>
        <li class="nav-item navbar-username">
          <%= link_to current_user.name, current_user, class: "nav-link " %>
        </li>
        <li class="nav-item dropdown user-avatar-dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= user_avatar(current_user, 25) %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to edit_user_registration_path(current_user), class: "dropdown-item" do %>
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="settings-icon"><path d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path><path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
              <span class="navbar-label">Settings</span>
            <% end %>
            <div class="dropdown-divider"></div>
            <%= link_to new_api_v1_authentication_path, class: "dropdown-item" do %>
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="developer-icon"><path d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z"></path></svg>
              <span class="navbar-label">Developer Tools</span>
            <% end %>
            <div class="dropdown-divider"></div>
            <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do %>
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="logout-icon"><path d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"></path></svg>
              <span class="navbar-label">Logout</span>
            <% end %>
          </div>
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav ml-auto right-nav">
        <li class="nav-item active">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
        </li>
      </ul>
    <% end %>
  </ul>
</div>
</nav>
