<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to  "Hourly", posts_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Activity Feed', '/activity_feed', class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Explore', posts_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
    <% if user_signed_in? %>
      <ul class="navbar-nav ml-auto right-nav">
        <%= simple_form_for users_path, html: { class: "form-inline mr-5"}, method: :get do |f| %>
          <%= f.input :q,  placeholder: "Search Users", label: false, class: "autocomplete" %>
        <% end %>
        <li class="nav-item dropdown" data-behavior = "notifications">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-behavior="notifications-link">
            <i class="fas fa-bell"></i> <span data-behavior="unread-count"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" data-behavior="notification-items">
          </div>
        </li>
        <li class="nav-item">
          <%= link_to current_user.name, current_user, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= user_avatar(current_user, 25) %> Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Settings', edit_user_registration_path(current_user), class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Developer Tools', new_api_v1_authentication_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
      </ul>
    <% else %>
      <ul class="navbar-nav ml-auto right-nav">
        <li class="nav-item active">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
        </li>
      </ul>
    <% end %>
  </ul>
</div>
</nav>
