<% if local_assigns[:post] %>
  <% @posts = Array(post)%>
<% end %>
<% @posts.each do |post| %>
  <div class="col-md-12 mt-3" id = "post-<%= post.id %>" data-controller="reply">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-1">
            <%= link_to user_path(post.user) do %>
              <%= user_avatar(post.user, 40)%>
            <% end %>
          </div>
          <div class="col-md-11">
            <p>
              <span class="name"><b><%= link_to  post.user.name, user_path(post.user) %></b></span>
              <span class="created-at float-right"><small><%= time_ago_in_words(post.created_at) %> ago</small></span>
            </p>
            <p><%= post.content %></p>
            <div class="row">
              <div class="col-md-2 offset-md-1">
                <div id="post_likes_<%=post.id%>" class="likes">
                  <%= render partial: 'posts/likes', locals: { post: post} %>
                </div>
              </div>
              <div class="col-md-2 offset-md-2">
                <div id="post-comments-<%= post.id %>">
                  <span><%= post.comments_count %></span>
                  <%= link_to '#', data: { action: 'click->reply#show'} do %>
                    <i class="fas fa-comment-alt comment"></i>
                  <% end %>
                </div>
              </div>
              <div class="col-md-2">
              </div>
              <div class="col-md-3">
                <%= render partial: 'posts/delete', locals: { post: post} %>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <%= render partial: "comments/form", locals: { commentable: post, class: 'd-none', target: 'reply.form'} %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div id="comments_<%=post.id%>">
                  <%= render post.comments.where(parent_id: nil), max_nesting: 3 %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
