<!DOCTYPE html>
<html>
  <head>
    <title>Hourly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet"%>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">
    <%= stylesheet_pack_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'shared/navbar'%>
    <div class="container-fluid">
      <div class="alerts text-center">
        <% flash.each do |message_type, message_tag| %>
          <div class="mt-4 alert alert-info %>"> <%= message_tag %></div>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
